@switch (notionBlock.type) {
  @case ("bulleted_list") {
    <li>
      {{ notionBlock.properties.title[0] }}
    </li>
  }
  @case ("numbered_list") {
    <ol>
      <li class="list-item">
        {{ notionBlock.properties.title[0] }}
      </li>
    </ol>
  }
  @case ("page") {}
  @case ("collection_view_page") {}
  @case ("header") {
    <h1>{{ notionBlock.properties.title[0] }}</h1>
  }
  @case ("sub_header") {
    <h2>{{ notionBlock.properties.title[0] }}</h2>
  }
  @case ("sub_sub_header") {
    <h3>{{ notionBlock.properties.title[0] }}</h3>
  }
  @case ("quote") {
    <div
      class="h-7 px-4 flex items-center border-s-2 border-slate-800 dark:border-slate-200"
    >
      <blockquote>{{ notionBlock.properties.title[0] }}</blockquote>
    </div>
  }
  @case ("text") {
    @if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0] == "b"
    ) {
      <p class="font-bold">{{ notionBlock.properties.title[0][0] }}</p>
    } @else if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0] == "i"
    ) {
      <p class="italic">{{ notionBlock.properties.title[0][0] }}</p>
    } @else if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0][0] == "a"
    ) {
      <a
        target="_blank"
        [title]="notionBlock.properties.title[0][1][0][1]"
        [href]="notionBlock.properties.title[0][1][0][1]"
        class="underline text-slate-700 dark:text-slate-400"
        >{{ notionBlock.properties.title[0][0] }}</a
      >
    } @else if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0] == "_"
    ) {
      <p class="underline">{{ notionBlock.properties.title[0][0] }}</p>
    } @else if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0] == "s"
    ) {
      <p class="line-through">{{ notionBlock.properties.title[0][0] }}</p>
    } @else if (
      notionBlock.properties.title[0].length > 1 &&
      notionBlock.properties.title[0][1][0] == "c"
    ) {
      <code>
        <span
          class="text-wrap px-2 py-1 rounded-md bg-red-400/50 text-red-950"
          >{{ notionBlock.properties.title[0][0] }}</span
        >
      </code>
    } @else {
      <p>{{ notionBlock.properties.title[0] }}</p>
    }
  }
  @default {
    <p>{{ notionBlock.type }}</p>
  }
}
