<div focusDialog #dialogContainer class="h-full w-full flex flex-col">
  <div
    class="flex py-2 px-2 justify-between border-b-slate-400/60 border-b"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
  >
    <div class="flex gap-1 items-end">
      <mat-icon [svgIcon]="data.icon"></mat-icon>
      {{ data.name }}
    </div>
    <div class="flex gap-1">
      <button
        class="flex items-center justify-center border-none dark:hover:text-slate-100 hover:bg-slate-400/50 rounded-sm p-0.5"
        (click)="handleHide()"
      >
        <mat-icon fontSet="material-symbols-outlined">minimize</mat-icon>
      </button>
      <button
        class="flex items-center justify-center border-none hover:bg-slate-400/50 rounded-sm p-0.5 rotate-90"
        (click)="onResizeButtonClicked()"
      >
        <mat-icon fontSet="material-symbols-outlined">{{
          isFullScreen ? "filter_none" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
      <button
        class="flex items-center justify-center border-none hover:text-white hover:bg-red-500/60 rounded-sm p-0.5"
        (click)="handleClose()"
      >
        <mat-icon fontSet="material-symbols-outlined" class="m-auto"
          >close</mat-icon
        >
      </button>
    </div>
  </div>
  <div class="border-slate-600 dark:border-neutral-600 h-full">
    <bm-file-view [fileData]="data.fileData"></bm-file-view>
  </div>
</div>
