<div
  class="absolute min-h-12 backdrop-blur-lg bottom-0 w-full px-3 py-1 hidden sm:flex border-t-[1px] border-slate-200 shadow-teal-300 dark:border-t-gray-600 bg-slate-100/60 dark:bg-neutral-600/40 shadow-sm items-center"
>
  <div class="ms-auto flex gap-2 items-center">
    <div>
      @for (item of activeFiles$ | async; track $index) {
        {{ item | json }}
      }
    </div>
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button class="flex items-center justify-center" mat-icon-button>
      @if (themeService.themeSignal() === "dark") {
        <mat-icon>bedtime</mat-icon>
      } @else {
        <mat-icon>brightness_7</mat-icon>
      }
    </button>
  </div>
</div>
