<div
  class="absolute bottom-0 w-full px-3 py-1 hidden sm:flex border-t-[1px] border-t-gray-600 items-center bg-neutral-800"
>
  <div class="ms-auto flex gap-2 items-center">
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button class="flex items-center justify-center" mat-icon-button>
      @if (themeService.themeSignal() === "dark") {
        <mat-icon>bedtime</mat-icon>
      } @else {
        <mat-icon>brightness_7</mat-icon>
      }
    </button>
  </div>
</div>
