<div class="flex gap-2 items-center justify-between w-full">
  <div class="w-1/5">sun</div>
  <div class="w-3/5 flex justify-center gap-2">
    <bm-input prefixIcon="search" placeholder="Búsqueda" />
    @if (activeFolders$ | async; as activeFolders) {
      <bm-active-folders [activeFolders]="activeFolders" />
    }
  </div>
  <div class="flex w-1/5 justify-end gap-2">
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button class="flex items-center justify-center" mat-icon-button>
      @if (themeService.themeSignal() === "dark") {
        <mat-icon>bedtime</mat-icon>
      } @else {
        <mat-icon>brightness_7</mat-icon>
      }
    </button>
  </div>
</div>
