::ng-deep .dark .mat-mdc-dialog-container {

    :active {

        .mdc-dialog__surface {
            box-shadow: 0 0 0 1px rgba(56, 56, 56, 0.1), 0 2px 4px rgba(56, 56, 56, 0.1);
        }
    }
}

::ng-deep .light .mat-mdc-dialog-container {

    :active {
        .mdc-dialog__surface {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
}

::ng-deep {
    .cdk-global-overlay-wrapper {
        justify-content: center !important;
    }

    .cdk-overlay-pane {
        &.not-fullscreen {
            transition-duration: 0.10s !important;
            margin-top: calc(50vh - 256px) !important
        }

        &.fullscreen {
            transform: none !important;
            margin: 0;
            transition-duration: 0.10s !important;

            .mdc-dialog__surface {
                box-shadow: none !important;
                border-radius: 0 !important;
            }
        }
    }

}

::ng-deep {
    .cdk-overlay-container .window-container {
        z-index: 5 !important;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 1rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}