::ng-deep .dark .mat-mdc-dialog-container {
    --mdc-dialog-container-color: rgb(38 38 38 / 0.6);
    backdrop-filter: blur(10px);

    :active {

        .mdc-dialog__surface {
            box-shadow: 0 0 0 1px rgba(56, 56, 56, 0.1), 0 2px 4px rgba(56, 56, 56, 0.1);
        }
    }
}

::ng-deep .light .mat-mdc-dialog-container {
    backdrop-filter: blur(10px);
    --mdc-dialog-container-color: rgba(255, 255, 255, 0.6);

    :active {

        .mdc-dialog__surface {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
}