<div
  [ngClass]="containerClasses()['container']"
  class="mt-16 overflow-auto flex w-full"
>
  <div [ngClass]="containerClasses()['categories']" class="py-4 pe-4 relative">
    <div class="flex flex-col gap-2 sticky top-0">
      <button (click)="newEmail.set(true)" class="mb-40/40 btn-send ms-4 mb-4">
        <mat-icon>edit</mat-icon>
        Redactar
      </button>

      <div class="flex flex-col gap-3">
        @for (folder of emailFolders; track folder.name; let i = $index) {
          <button
            [ngClass]="{
              'btn-active': selectedEmail()?.folder === folder.name
            }"
            class="btn-email"
          >
            <div
              [style.backgroundColor]="folder.color"
              class="w-2 h-2 rounded-full"
            ></div>
            <mat-icon>{{ folder.icon }}</mat-icon>
            <span>{{ folder.name }}</span>
          </button>
        }
      </div>
    </div>
  </div>
  <div [ngClass]="containerClasses()['list']">
    <bm-email-list />
  </div>
  <div [ngClass]="containerClasses()['content']">
    <bm-email-content />
  </div>
  @if (newEmail()) {
    <bm-new-email-container (close)="newEmail.set(false)" />
  }
</div>
