@for (folder of emailFolders; track folder.name; let i = $index) {
    <button
        (click)="selectFolder(folder)"
        [ngClass]="{
            'btn-active': selectedEmail()?.folderType === folder.name
        }"
        class="btn-email"
    >
        <div
            [style.backgroundColor]="folder.color"
            class="w-2 h-2 rounded-full"
        ></div>
        <mat-icon fontSet="material-symbols-outlined">{{
            folder.icon
        }}</mat-icon>
        <span>{{ folder.name }}</span>
    </button>
}
