.wallpaper-desktop {
    background-image: url(../../../../assets/images/wallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wallpaper-mobile {
    background-image: url(../../../../assets/images/wallpaper-phone.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}