:host ::ng-deep {
    & .md-rounded .mat-mdc-text-field-wrapper {
        border-radius: 50px !important;
    }

    & .mat-mdc-text-field-wrapper {
        border-radius: 8px !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field-flex {
        align-items: center !important;
    }

    .mat-mdc-form-field-text-prefix .mat-icon {
        height: 20px !important;
        width: 20px !important;
        margin-right: 0.5rem;
    }

}