<div [formGroup]="form">
  <mat-form-field class="example-form-field md-rounded gap-2">
    @if (showLabel()) {
      <span>
        <mat-label>Clearable input</mat-label>
      </span>
    }
    <input
      subscriptSizing="dynamic"
      [placeholder]="placeholder()"
      type="text"
      matInput
      formControlName="input"
    />
    @if (prefixIcon()) {
      <mat-icon matTextPrefix>
        {{ prefixIcon() }}
      </mat-icon>
    }
    @if (showButton()) {
      <button class="flex text-nowrap text-xs my-auto ms-auto">Ctrl + K</button>
    }
    @if (value && valueClearable()) {
      <button matSuffix aria-label="Clear" (click)="form.reset()">
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
