<bm-notion-page-header [iconPage]="iconPage()" [item]="item()" />
@if (!notionBlocks) {
  <div>loading</div>
} @else {
  <div class="flex flex-col gap-2 px-2">
    @for (notionBlock of notionBlocks; track $index) {
      @defer (on viewport) {
        @if (
          notionBlock.type !== "page" &&
          notionBlock.type !== "collection_view_page"
        ) {
          <ng-container
            [ngTemplateOutlet]="treeBlock"
            [ngTemplateOutletContext]="{
              $implicit: notionBlock,
              prevBlockType: notionBlocks[$index - 1].type
            }"
          ></ng-container>
        }
      } @placeholder (minimum 500ms) {
        <div class="flex gap-3 h-10 w-full b-4">
          <div class="w-1/5 dark:bg-gray-600/20 bg-opacity-10 rounded-xl"></div>
          <div class="w-4/5 dark:bg-gray-600/20 bg-opacity-10 rounded-xl"></div>
        </div>
      } @loading (after 100ms; minimum 1s) {
        <div>Loading...</div>
      }
    }
  </div>
}
<ng-template #treeBlock let-data let-prevBlockType="prevBlockType">
  <bm-notion-block [previousBlockType]="prevBlockType" [notionBlock]="data" />
  @if (data?.content; as childBlocks) {
    @for (child of childBlocks; track $index) {
      <div class="ms-10">
        <ng-container
          [ngTemplateOutlet]="treeBlock"
          [ngTemplateOutletContext]="{
            $implicit: getchildContent(child),
            prevBlockType: childBlocks[$index - 1]?.type
          }"
        ></ng-container>
      </div>
    }
  }
</ng-template>
