<div class="border-b pb-6 mb-6 border-slate-400 dark:border-slate-300">
  <h1 class="text-3xl font-bold mb-0">
    @if (iconPage()) {
      {{ iconPage() }}
    }
    {{ item().name }}
  </h1>
  <table class="table-auto w-full mt-5 border-separate border-spacing-y-3">
    <tbody>
      @for (itemKv of item() | keyvalue; track $index) {
        <tr class="text-left table-row">
          @switch (itemKv.key) {
            @case ("id") {}
            @case ("related") {}
            @case ("name") {}
            @case ("status") {
              <td
                class="align-top capitalize text-slate-300 font-medium w-full"
              >
                {{ itemKv.key }}
              </td>
              <td class="align-top pl-2.5">
                <bm-notion-badge-status
                  justify="start"
                  [status]="item().status"
                />
              </td>
            }
            @case ("tags") {
              <td
                class="align-top capitalize text-slate-300 font-medium w-full"
              >
                {{ itemKv.key }}
              </td>
              <td class="align-top pl-2.5">
                <bm-notion-item-tags justify="start" [tags]="item().tags" />
              </td>
            }
            @default {
              <td
                class="align-top capitalize text-slate-300 font-medium w-full"
              >
                {{ itemKv.key }}
              </td>
              <td class="align-top pl-2.5">{{ itemKv.value }}</td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>

@if (loading) {
  <div>loading</div>
} @else {
  <div class="flex flex-col gap-2 px-2">
    @for (notionBlock of notionBlocks; track $index) {
      @defer (on viewport) {
        @if (
          notionBlock.type !== "page" &&
          notionBlock.type !== "collection_view_page"
        ) {
          <ng-container
            [ngTemplateOutlet]="treeBlock"
            [ngTemplateOutletContext]="{
              $implicit: notionBlock,
              prevBlockType: notionBlocks[$index - 1].type
            }"
          ></ng-container>
        }
      } @placeholder (minimum 500ms) {
        <div class="flex gap-3 h-10 w-full b-4">
          <div class="w-1/5 dark:bg-gray-600/20 bg-opacity-10 rounded-xl"></div>
          <div class="w-4/5 dark:bg-gray-600/20 bg-opacity-10 rounded-xl"></div>
        </div>
      } @loading (after 100ms; minimum 1s) {
        <div>Loading...</div>
      }
    }
  </div>
}
<ng-template #treeBlock let-data let-prevBlockType="prevBlockType">
  <bm-notion-block [previousBlockType]="prevBlockType" [notionBlock]="data" />
  @if (data?.content; as childBlocks) {
    @for (child of childBlocks; track $index) {
      <div class="ms-10">
        <ng-container
          [ngTemplateOutlet]="treeBlock"
          [ngTemplateOutletContext]="{
            $implicit: getchildContent(child),
            prevBlockType: childBlocks[$index - 1]?.type
          }"
        ></ng-container>
      </div>
    }
  }
</ng-template>
