<div class="flex px-2 py-1 items-baseline"></div>
@if (layout.length) {
  <div cdkDropList class="grid grid-cols-6" (cdkDropListDropped)="drop($event)">
    @for (element of layout; track $index) {
      @if (element.type === "folder" || element.type === "file") {
        <div cdkDrag class="col-span-1">
          <bm-cell-container [element]="element" />
        </div>
      }
    }
  </div>
} @else {
  <div class="flex flex-col items-center justify-center w-full h-full">
    <p class="text-2xl text-slate-500">Esta carpeta está vacía</p>
  </div>
}
