<div class="flex h-full w-full gap-2 relative">
  @if (notionPageItems$ | async; as items) {
    <div
      class="transition-all duration-150 ease-in"
      [ngClass]="selectedItem ? 'hidden md:block md:w-2/5' : 'w-full'"
    >
      @for (item of items; track $index) {
        <div class="notion-item">
          <bm-notion-database-item
            (itemSelected)="setItemSelected($event)"
            [item]="item"
          />
        </div>
      }
    </div>
    <div
      class="transition-all duration-150 ease-in p-2 relative"
      [ngClass]="
        selectedItem ? 'w-full md:w-3/5 h-full overflow-auto' : 'hidden'
      "
    >
      @if (selectedItem) {
        <bm-notion-page [item]="selectedItem" />
      }

      <button
        class="rounded-full p-1 sticky md:-top-2 right-0 bottom-2 float-end"
        (click)="selectedItem = undefined"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  } @else {
    <div class="w-full h-full flex">
      <mat-icon
        class="animate-bounce duration-200 m-auto"
        svgIcon="notion"
      ></mat-icon>
    </div>
  }
</div>
