<ktd-grid
  (contextmenu)="onRightClickGridContainer($event)"
  [cols]="cols"
  [rowHeight]="rowHeight"
  [layout]="layout"
  [compactType]="compactType"
  [preventCollision]="preventCollision"
  [scrollableParent]="autoScroll ? document : null"
  scrollSpeed="4"
  (dragStarted)="onDragStarted($event)"
  (resizeStarted)="onResizeStarted($event)"
  (dragEnded)="onDragEnded($event)"
  (resizeEnded)="onResizeEnded($event)"
  (layoutUpdated)="onLayoutUpdated($event)"
>
  @for (item of layout; track $index) {
    <ktd-grid-item [id]="item.id">
      @if (item.id === "2") {
        <div
          (contextmenu)="onRightClickGridItem($event)"
          class="active:shadow-sm active:opacity-10 h-full cursor-pointer border-2 border-slate-100 p-2 flex items-center justify-center"
        >
          {{ item.id }}
        </div>
      }

      <ng-template ktdGridItemPlaceholder> placeholder </ng-template>
    </ktd-grid-item>
  }
</ktd-grid>
