<div class="h-screen w-full" [ngClass]="wallPaperClass">
  <ktd-grid
    (contextmenu)="onRightClickGridContainer($event)"
    [cols]="cols"
    [rowHeight]="rowHeight"
    [layout]="layout"
    [compactType]="compactType"
    [preventCollision]="preventCollision"
    [scrollableParent]="autoScroll ? document : null"
    scrollSpeed="4"
    (dragStarted)="onDragStarted($event)"
    (resizeStarted)="onResizeStarted($event)"
    (dragEnded)="onDragEnded($event)"
    (resizeEnded)="onResizeEnded($event)"
    (layoutUpdated)="onLayoutUpdated($event)"
  >
    @for (item of layout; track $index) {
      <ktd-grid-item [id]="item.id">
        <div class="flex items-center justify-center p-2 h-full w-full">
          <div
            (contextmenu)="onRightClickGridItem($event)"
            class="active:shadow-sm aspect-square active:opacity-10 h-full cursor-pointer border-2 border-slate-100 flex items-center justify-center"
          >
            {{ item.id }}
          </div>
        </div>
        <ng-template ktdGridItemPlaceholder> </ng-template>
      </ktd-grid-item>
    }
  </ktd-grid>
</div>
