<div #gridC class="h-full w-full">
  <ktd-grid
    class="h-full w-full"
    (contextmenu)="onRightClickGridContainer($event)"
    [cols]="cols"
    [rowHeight]="rowHeight"
    [layout]="layout"
    [compactType]="compactType"
    [preventCollision]="preventCollision"
    [scrollableParent]="autoScroll ? document : null"
    scrollSpeed="4"
    (dragStarted)="onDragStarted($event)"
    (resizeStarted)="onResizeStarted($event)"
    (dragEnded)="onDragEnded($event)"
    (resizeEnded)="onResizeEnded($event)"
    (layoutUpdated)="onLayoutUpdated($event)"
  >
    @for (item of layout; track $index) {
      <ktd-grid-item [id]="item.id">
        <bm-cell-container [item]="item" />
        <ng-template ktdGridItemPlaceholder> </ng-template>
      </ktd-grid-item>
    }
  </ktd-grid>
</div>
