@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/monokai.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style: decimal !important;
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;

}

.btn {
  @apply flex items-center gap-2 rounded-lg bg-slate-100/40 dark:bg-slate-600/50 px-2 py-1.5 active:scale-95 transition-all duration-100
}

.btn-xs {
  @apply flex items-center gap-2 rounded-lg bg-slate-100/40 dark:bg-slate-600/50 active:scale-95 transition-all duration-100 px-1 py-0.5
}

.btn-taskbar {
  @apply active:animate-button-pop duration-150 flex flex-col items-center gap-1 relative hover:bg-slate-100 dark:hover:bg-slate-600/40 hover:bg-opacity-10 p-1 rounded-md cursor-default
}

.window-border {
  @apply border-b-slate-400/60 border-b
}