@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/monokai.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style: decimal !important;
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;

}

.btn {
  @apply active:animate-button-pop duration-150 flex flex-col items-center gap-1 relative hover:bg-slate-100 dark:hover:bg-slate-600 hover:bg-opacity-20 p-1 rounded-md
}