@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/monokai.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style: decimal !important;
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;

}