/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

// Light Theme
$light-theme-primary: mat.define-palette(mat.$indigo-palette);
$light-theme-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$light-theme-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((color: (primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));

// Dark Theme
$dark-theme-primary: mat.define-palette(mat.$indigo-palette);
$dark-theme-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$dark-theme-warn: mat.define-palette(mat.$red-palette);


$dark-theme: mat.define-dark-theme((color: (primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));

// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #dddcdc;
$active-dark-bg-color: #444;

// Light theme variables
$light-bg-color: #d2d2d2;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;

// Dark mode
.dark {
  @include mat.all-component-colors($dark-theme);
  background-color: $semi-dark-bg-color;
  color: $light-text-color;

  .mat-mdc-text-field-wrapper {
    border-bottom: 1px solid #6e6e71;
    border-top: 2px solid #727073;
  }


  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



}

// Light mode
.light {
  @include mat.all-component-themes($light-theme);
  color: #231f1f;

  .mat-mdc-text-field-wrapper {
    border-bottom: 1px solid #64748b;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




}


::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}



.mat-mdc-form-field-infix {
  min-height: 2rem !important;
}

.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0.3rem !important
}

.mat-mdc-form-field-subscript-wrapper {
  height: 10px !important;
}


//-------Modal dialog

.resizable-mat-dialog-panel {
  resize: both;
  overflow: auto;
  max-width: unset !important;
  max-height: unset !important;
  position: absolute !important;
}


.dark .mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgb(38 38 38 / 0.70);
  backdrop-filter: blur(20px);

  :active {

    .mdc-dialog__surface {
      box-shadow: 0 0 0 1px rgba(56, 56, 56, 0.1), 0 2px 4px rgba(56, 56, 56, 0.1);
    }
  }
}

.light .mat-mdc-dialog-container {
  backdrop-filter: blur(20px);
  --mdc-dialog-container-color: rgba(255, 255, 255, 0.6);

  :active {
    .mdc-dialog__surface {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}


.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

.cdk-overlay-pane {
  &.not-fullscreen {
    transition-duration: 0.10s !important;
    margin-top: calc(50vh - 256px) !important
  }

  &.fullscreen {
    transform: none !important;
    margin: 0;
    transition-duration: 0.10s !important;

    .mdc-dialog__surface {
      box-shadow: none !important;
      border-radius: 0 !important;
    }
  }
}


.mat-mdc-dialog-container .mdc-dialog__surface {

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cdk-overlay-pane {
  border-radius: 8px !important;
}



//MAT-MENU

// Dark theme mat-menu
.dark {
  .mat-mdc-menu-panel {
    background-color: rgba(38, 38, 38, 0.85);
    backdrop-filter: blur(5px);
  }

  .mat-mdc-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

// Light theme mat-menu
.light {
  .mat-mdc-menu-panel {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
  }

  .mat-mdc-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}