.truncate-text {
    display: inline-block;
    max-width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span:hover .truncate-text {
    opacity: 0;
}

span:hover .full-text {
    opacity: 1;
    white-space: normal;
}