@if (activeFolders) {
  @if (activeFolders.length > 1) {
    <div
      class="group duration-150 flex flex-col items-center gap-1 relative hover:bg-slate-100 dark:hover:bg-slate-400 p-1 rounded-lg hover:rounded-lg"
    >
      <mat-icon svgIcon="folder"></mat-icon>
      <div class="rounded bg-black w-2 h-0.5"></div>
      <div
        class="group-hover:flex hidden absolute top-0 scale-95 -right-2 w-full h-full bg-slate-100/40 dark:bg-slate-400/40 rounded-lg"
      ></div>
    </div>
  } @else if (activeFolders.length === 1) {
    <div
      (click)="handleOpenFolder(activeFolders[0])"
      class="group duration-150 flex flex-col items-center gap-1 relative hover:bg-slate-100 dark:hover:bg-slate-400 p-1 rounded-lg hover:rounded-lg"
    >
      <mat-icon svgIcon="folder"></mat-icon>
      <div class="rounded bg-black w-2 h-0.5"></div>
    </div>
  }
}
